<div class="mosaic-layout">
  <app-gif-card
    *ngFor="let item of data | async"
    [data]="item"
    [isFavoritePage]="isFavoritePage"
  ></app-gif-card>
</div>
<!-- <nz-spin nzSimple></nz-spin> -->
<div *ngIf="(data | async)?.length === 0" class="w-full flex items-center justify-center flex-col">
  <img width="200" src="../../../assets/imgs/crying-cowbow-emoji.gif" alt="" />
  <h4>Oops! There’s nothing here.</h4>
</div>

<div *ngIf="!(data | async)" class="w-full flex items-center justify-center flex-col">
  <img width="200" src="../../../assets/imgs/crying-cowbow-emoji.gif" alt="" />
  <h4>
    Oops! There’s nothing here. Please look around and add to your favorite list
  </h4>
</div>
