@import "../node_modules/ng-zorro-antd/ng-zorro-antd.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-layout-content {
  .inner-content {
    overflow-y: scroll;
    &::-webkit-scrollbar-track {
      border-radius: 5px;
    }
    &::-webkit-scrollbar {
      width: 10px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #0ae;
      border-radius: 5px;
    }
  }
}

.mosaic-layout {
  column-count: 4;
  column-gap: 10px;
  .main {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    img {
      grid-row: 1 / -1;
      grid-column: 1;
    }
  }
}

.loading-layout {
  .ant-spin {
    font-size: 5rem;
  }
}

.loading-tag {
  .ant-select-item-option-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
