<ng-container *ngIf="data">
  <div class="main">
    <div class="main__gif">
      <img
        class="giphy-gif-img giphy-img-loaded"
        loading="lazy"
        [src]="data.images.downsized.url"
        [width]="data.images.downsized.width"
        [height]="data.images.downsized.height"
        [alt]="data.title"
        [ngStyle]="{ 'background-color': randomColor }"
      />
      <div class="main__gif__info">
        <div class="main__gif__info__action">
          <span
            nz-icon
            nzType="link"
            nzTheme="outline"
            (click)="copyLink(data.images.downsized.url, templateNotify)"
          ></span>
          <span nz-icon nzType="heart" nzTheme="outline"></span>
        </div>
        <button
          class="w-1/2 m-auto"
          nz-button
          nzType="primary"
          (click)="showModal()"
        >
          Details
        </button>
        <div class="main__gif__info__user">
          <img
            width="40"
            loading="lazy"
            [src]="data.user?.avatar_url"
            [ngStyle]="{ 'background-color': randomColor }"
          />
          <p>{{ data.user?.display_name }}</p>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
>
  <ng-template #modalTitle>{{ data.title }}</ng-template>

  <ng-template #modalContent>
    <div class="modal">
      <div class="modal__action flex justify-end text-3xl mb-4">
        <span
          class="mr-4 cursor-pointer"
          nz-icon
          nzType="link"
          nzTheme="outline"
          (click)="copyLink(data.images.downsized.url, templateNotify)"
        ></span>
        <span
          class="cursor-pointer"
          nz-icon
          nzType="heart"
          nzTheme="outline"
        ></span>
        <!-- <span nz-icon nzType="heart" nzTheme="fill" style="color: red"></span> -->
      </div>
      <img
        class="giphy-gif-img giphy-img-loaded w-full"
        loading="lazy"
        [src]="data.images.downsized_large.url"
        [width]="data.images.downsized_large.width"
        [height]="data.images.downsized_large.height"
        [alt]="data.title"
        [ngStyle]="{ 'background-color': randomColor }"
      />
      <div class="modal__author mt-4 flex items-center justify-between">
        <img
          width="60"
          loading="lazy"
          [src]="data.user?.avatar_url"
          [ngStyle]="{ 'background-color': randomColor }"
        />
        <p class="font-semibold">{{ data.user?.display_name }}</p>
      </div>
      <div class="flex items-center justify-between mt-4">
        <p>Create At</p>
        <p>{{ data.import_datetime | date : "medium" }}</p>
      </div>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Exit</button>
  </ng-template>
</nz-modal>
<ng-template #templateNotify>
  <div class="ant-notification-notice-content">
    <div class="ant-notification-notice-message">Link copied to clipboard!</div>
  </div>
</ng-template>
